@import "compass";


//colors 

$black: #000;
$white: #fff;
$link-color: #007aff;
$link-hover: lighten($link-color, 5%);
$footer-links: #f2c12a;
$dark-gray: #555555;
$light-gray:  darken($white, 3%);
$text-color: #1c1c1c;
$facebook-blue: #3B5998;
$twitter-blue: #4099FF;
$googleplus-red: #d34836;
$pinterest-red: #C92228;

@import "partials/mixins";
@import "partials/typography";
@import "partials/placeholders";
@import "partials/layout";

//general styles 

* {
	@include bs(border-box);
	margin: 0;
	padding: 0;
	position: relative;
	
	&:before {
		@include bs(border-box);
	}
	
	&:after {
		@include bs(border-box);
	}
}

html {
	/*font: 131.25%/1.57 $font-stack-1;*/
	@include text-size-adjust(none);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	/*
	@include background(linear-gradient(top, $white 0, $white 95%, #f00 95%, #f00 100%));
	background-repeat: repeat-y;
	background-size: 100% 31.5px;
	*/
}

body {
	/*font-size: 21px; */
	color: $text-color;
	@include single-transition(opacity, .3s, linear, 0s);
	//background: #fff;

	.wf-loading & {
		opacity: 0;
		//background: image-url("loading.gif") no-repeat center center;
		
	}}
	
::selection {
	color: white;
	background-color: $link-color;
}

::-moz-selection {
	color: white;
	background-color: $link-color;
}

img,
video,
embed,
object {
	@extend %block;
	max-width: 100%;
}

//start navigator styles 

.navigator-widget {
	@include clearfix;
}

.navigator-widget__block {
	margin-bottom: $baseline*2;
	@include clearfix;
}

.news-list {
	margin-top: $baseline;
	
	li {
		@extend %clearfix;
		list-style: none;
		margin-bottom: $baseline;
		position: relative;
		
		img {
			width: 25%;
			float: left;
			display: inline-block;
			
			@include breakpoint(small) {
				width: 40%;
			}
			
			@include breakpoint(medium) {
				float: none;
				width: 100%;
			}
		}
		
		header {
			width: 75%;
			float:left;
			padding: 0 0 0 1em;
			
			@include breakpoint(small) {
				width: 60%;
			}
			
			@include breakpoint(medium) {
				width: 100%;
				float: none;
				padding: 0;;
				
			}
		}
	}
}

.news-list__meta {
	font-size: 0.6em;
	color: lighten($black, 60%);
	text-transform: uppercase;
	margin-top: 1em;
	
	.list__meta--date {
		
		&:after {
			content: "|";
			display: inline-block;
			margin: 0 2px;
		}
	}
}

.list__meta--entity a {
	color: $link-color;
}
			
.news-list__title {
	a {
		text-decoration: none !important;
	}
}
	

	




