@import "susyone";
//Grid Settings
$total-columns : 12;
$column-width: 3.5em;
$gutter-width: 1.5em;
$grid-padding: 1em;

//Telling Susy to use border-box
$border-box-sizing: true;

.wrap {
	@include container;
	overflow: hidden;
	position: relative;
	
	@include breakpoint(medium) {
		overflow: visible;
	}
}

.grid {
	@include clearfix;
}

.news-list__item {
	@include span-columns(12, 12);
	
	@include breakpoint(medium) {
		@include span-columns(3, 12);
		
		&:last-child {
			margin-right: 0 !important;
		}
	}
}


