%clearfix {
	@include clearfix;
}

%block {
	display: block;
}

%centered {
	margin: 0 auto;
}

%inline-relative {
	display: inline;
	position: relative;
}

%alignright {
	float: right;
}

%alignleft {
	float: left;
	width: 50%;
	margin-left: -15%;
	margin-right: $baseline;
}

%transition-all {
	@include single-transition(all, 0.3s, 0s);
}

%border-box {
	@include bs(border-box);
}

%antialiased {
	-webkit-font-smoothing: antialiased;
}