//variables 

$font-stack-1: "chaparral-pro", serif;
$font-stack-2: "freight-display-pro", serif;
$font-stack-3: "nimbus-sans", sans-serif;
$brandon: "brandon-grotesque", sans-serif;
$baseline: 1.5em;

$h1_default_size: 2.5em;     /* 2*16 = 32 */  
$h2_default_size: 1.5em;   /* 1.5*16 = 24 */ 
$h3_default_size: 1.17em;  /* 1.17*16 = 18.72 */ 
$h4_default_size: 1em;	   /* 1*16 = 16 */
$h5_default_size: 0.83em;  /* 0.83*16 = 13.28 */ 
$h6_default_size: 0.75em;  /* 0.75*16 = 12 */ 


//styles

body {
	@extend %antialiased;
	text-rendering: optimizeLegibility;
}

input {
	@extend %antialiased;
}

button {
	@extend %antialiased;
}

h1, p, ul, ol, dl, dd, table, form, picture, figure, blockquote, pre {
	margin-bottom: -0.5em;
	display: block;
}



html {
	font: 400 87.5%/1.6 $font-stack-3;
	
	@include breakpoint(small) {
		font: 400 100%/1.5 $font-stack-3;
	}
	
	@include breakpoint(mlarge) {
		font-size: 131.25%;
	}
}

h1 {
	font-size: $h1_default_size;
	margin-bottom: ($baseline/2);
}

h2 {
	font-size: $h2_default_size;
	margin-bottom: ($baseline/2);
}

h3 {
	font-size: $h3_default_size;
}

h4 {
	font-size: $h4_default_size;
}

h5 {
	font-size: $h5_default_size;
}

h6 {
	font-size: $h6_default_size;
}

p {
	line-height: 1.5;
	margin: 0 0 1em;
	word-break: break-all;
	word-break: break-word;
	
}

a {
	@include single-transition(all, .2s, linear, 0s);
	text-decoration: underline;
	color: inherit;
	
	&:visited {
		color: inherit;
		text-decoration: inherit;
	}
	
	&:hover {
		color: $link-color;
	}
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

figure img {
	margin-bottom: ($baseline/4);
}

figcaption {
	font-family: $font-stack-3;
	font-weight: 300;
	font-size: 0.857em;
	color: lighten($black, 30%);
	
	@include breakpoint(mlarge) {
		font-size: 0.667em;
	}
}

.blog-entry {
	
	blockquote {
		font-family: $font-stack-3;
		color: darken($white, 50%);
		font-weight: 300;
		padding: 0 $baseline;
		border: {
			left: 2px solid $link-color;
		}
		
	
	}
}


pre {
	@include background(linear-gradient(to bottom, lighten($black, 93%) 50%, lighten($black, 95%) 50%));
	background-position: 0 0;
	background-repeat: repeat;
	background-size: 4.5em 4.5em;
	padding: 1.125em;
	overflow: auto;
	border: {
		left: 3px solid lighten($black, 60%);
	}
}

@media print {
	
	* {
		background: transparent !important;
		color: $black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	
	p, 
	h2,
	h2 {
		orphans: 3;
		widows: 3;
	}
	
	h2, 
	h3 {
		page-break-after: avoid;
	}
}